@model KullaniciProfilViewModel
<div class="row">
    <div class="col-lg-3 col-md-3 col-sm-12" id="solMenuResponse"></div>
    <div class="col-lg-9 col-md-9 col-sm-12">
        <div class="container-fluid bg-white p-3">
            <div class="row m-3">
                <div class="col px-0">
                    <h4 class="d-inline">Güncel Özgeçmiş</h4>
                    <a href="/Kullanici/Ozgecmis" class="float-right text-purple">
                        Tümünü Gör
                    </a>
                </div>
            </div>
            <div class="row card-ozgecmis m-3">
                @if (Model.cvId > 0)
                {
                    <div class="col-lg-1 col-2">
                        <figure>
                            @if (String.IsNullOrEmpty(Model.fotograf))
                            {
                                <img src="~/images/user.png">
                            }
                            else
                            {
                                <img src="data:image/jpg;base64,@(Model.fotograf)">
                            }

                        </figure>
                    </div>
                    <div class="col-lg-11 col-10">
                        <h5>
                            <a class="baglanti" href="/Kullanici/OzgecmisDetay/@Model.cvId">@Model.cvAdi</a>
                        </h5>
                    </div>
                }
                else
                {
                    <div class="col-12">
                        <h6>Henüz Cv Oluşturmadınız. Cv Oluşturmak için <a href="/Kullanici/OzGecmis">tıklayınız</a></h6>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

<script>
    SolMenu("#solMenuResponse", "profil");

</script>