/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px; /* Vertically center the text there */
}
.list-group .list-group-item:not(.active) {
    color: #6f42c1 !important;
}

.list-group .list-group-item:not(.active):hover {
    background-color: rgba(0,0,0,0.1);
}

.list-group-item.active {
    background-color: #6f42c1 !important;
    border-color: #6f42c1 !important;
    color: white;
}

.text-purple {
    color: #8316b5 !important;
}

.baglanti {
    color: black !important;
    text-decoration: none;
}

.baglanti:hover {
    text-decoration: none;
}

.card-ozgecmis {
    font-size: 12px !important;
    padding: 12.5px !important;
    background-color: #f8f9fa;
    border: 1px solid #e4e4e4;
    border-radius: 4px
}

.card-ozgecmis:hover {
    box-shadow: 0 1px 5px 0 rgb(0 0 0 / 10%);
}

.card-ozgecmis img {
    width: 35px;
    height: 35px;
    border-radius: 50%;
}

.btn-purple {
    border: 1px solid #8316b5;
    color: white;
    background-color: #8316b5;
    font-weight: bold;
}

.btn-purple:hover {
    color: white !important;
}

.btn-outline-purple {
    border: 1px solid #8316b5;
    color: #6f42c1;
    background-color: white;
    font-weight:bold;
}

.btn-outline-purple:hover {
    color: white;
    background-color: #8316b5;
}

.form-control:focus{
    box-shadow:none;
}

.input-md{
    height: 50px;
}

.error-validate {
    width: 100%;
    margin-top: 0.25rem;
    font-size: 80%;
    color: #dc3545;
}

.cv-detay-header {
    height: 225px;
    width: 100%;
    padding: 45px;
    box-sizing: border-box;
    background-image: linear-gradient(90deg,#765fc3 50%,#ab63bd);
    background-repeat: repeat-x;
    position: relative;
}

.tum-firmalar-btn {
    display: inline-block;
    border-radius: 20px;
    padding: 8.5px 20px;
    border: 1px solid #fff;
    box-sizing: border-box;
    margin: 8px 0;
    background-color: transparent;
}

.cv-detay-btn {
    display: inline-block;
    padding: 8.5px 20px;
    border: 1px solid #fff;
    box-sizing: border-box;
    margin: 8px 0;
    background-color: transparent;
}

.cv-detay-content {
    padding-left: 45px;
    padding-right: 45px;
    box-sizing: border-box;
    max-width: 1188px;
    margin: -60px auto 0;
    position: relative;
}

.cv-detay-row {
    border-radius: 10px;
    background-color: #fff;
    position: relative;
}

.cv-detay-row-header {
    width: 100%;
    height: 60px;
    box-sizing: border-box;
    padding: 20px 30px;
    background-color: #fff;
    border-radius: 10px 10px 0 0;
    box-shadow: 0 13px 15px 0 rgb(0 0 0 / 2%);
    color: #666;
    font-size: 20px;
    text-align: left;
}

.cv-detay-row-content {
    width: 100%;
    padding: 20px 30px;
    box-sizing: border-box;
    border-radius:10px;
    margin-bottom: 20px;
}

.cv-detay-row-content:hover{
   box-shadow: 0 2px 7px 0 rgb(0 0 0 / 17%);
}

.w-15 {
    width: 15% !important;
}

.w-20{
    width:20% !important;
}

.w-33 {
    width: 33% !important;
}

.w-80 {
    width: 80% !important;
}

.w-85 {
    width: 85% !important;
}

.border-radius-7 {
    border-radius: 7px !important;
}

.border-radius-20{
    border-radius:20px;
}

.cv-detay-input {
    display:block;
    border: 0px !important;
    border-bottom: 1px solid rgba(0,0,0,0.2) !important;
    height: 25px;
    width: 80%;
}

.cv-detay-input:focus {
    border: 0px !important;
    border-bottom: 1px solid rgba(0,0,0,0.2) !important;
}